<template>
    <i-row>
        <i-col span="12">
            <i-form :label-width="200" method="post">
                <i-form-item label="Model name">
                    <i-input name="model_class_name" value="" :autocomplete="true"
                             placeholder="ex: App\Models\User\Mongo\Userinfo"></i-input>
                </i-form-item>
                <i-form-item label="Parent class name">
                    <i-input name="parent_class_name" value="" :autocomplete="true"
                             placeholder="ex: Illuminate\Database\Eloquent\Model"></i-input>
                </i-form-item>
                <i-form-item>
                    <i-button type="primary" html-type="submit" name="preview">Preview</i-button>
                    <i-button type="success" html-type="submit" name="generate" :value="1">Generate</i-button>
                </i-form-item>
            </i-form>
            <i-alert type="" show-icon>
                <span slot="desc"></span>
            </i-alert>
        </i-col>
    </i-row>
</template>
<script type="text/javascript">
    module.exports = {
        data: function () {
            return {
                table_list: []
            }
        },
        met
    }
</script>